# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
cms/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# Secret files
keys/
private_key.pem
public_key.pem
public_key.py

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
dist/
build/
*.egg-info/